<script>var writer = prompt('あなたのオススメの本は何ですか？');
 alert('あなたのオススメの本ならきっと素敵なんだろうなあ。私も今度' + writer + '読んでみますね。教えてくれてありがとう！');
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<%= render 'layouts/user_info', user: @user %>
            <%= render 'books/new',book: @book %>
        </div>
		<div class="col-lg-8">
			<%= render 'layouts/error_messages', er:@book %>

<% provide(:title, 'All books') %>

<%= search_form_for(@search, method: :get) do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, "Title" %>
    <%= f.text_field :title_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


			<h1>Books</h1>
            <% @books.each do |book|%>
                <table class="table" style="table-layout:fixed">
  	                <tr>
  		                <th style="width:20%;">&nbsp;</th>
  		                <th style="width:20%;">title</th>
  		                <th style="width:40%;">opinion</th>
  		                <th style="width:20%;">category</th>
  	                </tr>
  	                <tr>
  		                <td><%= attachment_image_tag book.user,:image, fallback: "no_img.jpg", size: '100x100' %></td>
  		                <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
  		                <td><%= book.body %></td>
  		                <td><%= book.category %></td>
  	                </tr>
                </table>

            <% end %>
			<%= paginate @books, class: "paginate" %>

        </div>
    </div>

</div>

