<header class= "navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <nav>
      <div class="slidemenu">
        <ul class="nav navbar-nav navbar-left" data-hover="dropdown">
          <font size="6" color="white"><%= link_to "TEKAPO", root_path %></font>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-hover="dropdown">
           <li><%= link_to "テカポの魅力", homes_path, class:"glyphicon glyphicon-heart" %></li>
           <li><%= link_to "美味しいご飯", home_eat_path, class:"glyphicon glyphicon-cutlery"  %></li>
           <li><%= link_to "遊び方", home_play_path, class:"glyphicon glyphicon-globe"  %></li>
           <li><%= link_to "写真", pictures_path, class:"glyphicon glyphicon-camera"  %></li>
      </ul>
      </div>
    </nav>
</div>
</header>